<article>
  <section class="OrderBill">
    <% @orders.all.each do |order| %>
      <div class=" OrderBillItem">
        <div class="Orders">
          <% count = 1 %>
          <p>S.No</p>
          <p>Item</p>
          <p>Price</p>
          <p>Quantity</p>
          <p>Total Price</p>
          <% order.order_items.each do |order_item| %>
            <p> <%= count %> </p>
            <p><%= order_item.menu_item_name%></p>
            <p><%= order_item.menu_item_price%></p>
            <p><%= order_item.quantity %></p>
            <p><%= order_item.price %></p>
            <% count = count + 1 %>
          <% end %>
        </div>
        <p style="position: relative;left: 38%; padding:10px;">Total Price: &#x20b9;<%= order.total_price %></p>
        <p> <%= order.order_delivered %></p>
      </div>
    <% end %>
  </section>
</article>
